[SddmGreeterTheme]
Name=XeroDark
Description=XeroDark
Author=XeroLinux Design Group
Copyright=(c) 2024, DarkXero
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/sddm/sddm
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=info@techxero.com
Theme-Id=XeroDark
Theme-API=2.0
QtVersion=6
